.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100%;
    border-radius: 15px;
    margin: 20px 0;
    background: linear-gradient(15deg, #fdcb6e 5%, #0984e3 50%, #fdcb6e 95%);
}

.over-gradiant {
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIj4NCiAgPGZpbHRlciBpZD0iZGVuc2VOb2lzZSI+DQogICAgPGZlVHVyYnVsZW5jZSB0eXBlPSJmcmFjdGFsTm9pc2UiIGJhc2VGcmVxdWVuY3k9IjAuNiIgbnVtT2N0YXZlcz0iNCIgcmVzdWx0PSJub2lzZSI+DQogICAgICA8YW5pbWF0ZSBhdHRyaWJ1dGVOYW1lPSJiYXNlRnJlcXVlbmN5IiB2YWx1ZXM9IjAuNjsgMC41OyAwLjYiIGR1cj0iMjAwcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiIC8+DQogICAgPC9mZVR1cmJ1bGVuY2U+DQogICAgPGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIgLz4NCiAgICA8ZmVDb21wb25lbnRUcmFuc2Zlcj4NCiAgICAgIDxmZUZ1bmNBIHR5cGU9ImRpc2NyZXRlIiB0YWJsZVZhbHVlcz0iMCAwLjEgMC40IDAuNiIgLz4NCiAgICA8L2ZlQ29tcG9uZW50VHJhbnNmZXI+DQogIDwvZmlsdGVyPg0KICA8cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWx0ZXI9InVybCgjZGVuc2VOb2lzZSkiIC8+DQo8L3N2Zz4NCg==') no-repeat center center;
    background-size: cover;
    padding: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 0 40px;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.services-title {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.services-title .buttons-hero {
    width: 150px;
    margin: 20px 0;
}

.services-title h2 {
    color: var(--black);
    font-size: 35px;
}

.services-title span {
    color: var(--primary);
}

.services-item {
    flex: 2;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.service-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
}

.service-card p {
    font-weight: 550;
    font-size: 14px;
    color: #000;
}

.service-card h4,
p {
    margin-bottom: 15px;
}

.service-icon {
    font-size: 2rem;
    color: var(--blue);
    background-color: #fff;
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    margin-bottom: 15px;
}

/* Media query pour les petites tailles d'écran */
@media (max-width:1200px) {
    .services {
        width: 80%;
    }
}

@media (max-width:1100px) {
    .over-gradiant {
        flex-direction: column;
    }

    .services-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .secondary-text {
        display: none;
    }
}

@media (max-width:899px) {
    .services-item {
        grid-template-columns: 2fr 2fr;
    }

    .service-card {
        padding: 4px 10px;
        margin: 0;
    }
}

@media (max-width: 600px) {
    .services-title {
        flex-direction: column;
    }

    .over-gradiant {
        padding: 10px;
    }

    .services-item {
        padding: 0;
        margin: 0;
        gap: 0;
    }

}

@media (max-width:570px) {
    .services-title {
        grid-template-columns: 1fr;
    }

    .services-item {
        display: flex;
        flex-direction: column;
    }
}