.hero {
    display: flex;
    justify-content: center;
    margin-top: 9em;
    align-items: center;
    width: 100%;
}

.hero-content {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.hero-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    margin-top: 30px;
}

.hero-title .hero-info {
    font-size: 18px;
    color: #0984e3;
    margin-left: 2em;
}

.hero-title .hero-info span {
    background-color: #fdcb6e;
    padding: 5px;
    font-weight: 650;
    color: #fff;
    font-family: 'aileron', sans-serif;
}

.hero-title h1 {
    font-size: 45px;
    font-weight: 700;
}

.hero-title p {
    font-size: 14px;
    font-weight: 500;
    color: #696969;
    margin-top: 20px;
}

.hero-title button {
    margin: 25px 15px 0 0;
}

.hero-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.hero-btn-icon {
    padding-left: 10px;
}

.hero-image {
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
    margin: 0;
    padding: 0;
    top: -70px;
    right: -70px;
}

.hero-img {
    width: 90%;
    height: 90%;
}

@media (max-width:1200px) {
    .hero-content {
        width: 80%;
    }
}

@media (max-width:1000px) {
    .hero-content {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .hero-title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero-title h1 {
        font-size: 35px;
    }

    .hero-btn {
        justify-content: center;
        margin-bottom: 4em;
    }

    .hero-title h1 {
        padding: 0 30px;
    }

    .hero-title p {
        padding: 0;
    }

    .hero-image {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
    }

    .hero-title .hero-info {
        margin: 0;
    }
}

@media (max-width:590px) {
    .hero .hero-content {
        width: 90%;
        padding: 0;

    }

    .hero-btn {
        display: block;
        margin-bottom: 0;
    }

    .hero-title h1 {
        font-size: 28px;
    }
}