.outils {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.outils img {
    width: 10%;
    height: 10%;
}

.button-outils {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: 1;
    right: 3%;
    top: 80%;
}

.button-outils button {
    color: #fff;
    bottom: 50px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    background-color: var(--blue);
    margin: 10px 0;
    cursor: pointer;
    font-size: 25px;
    outline: none;
}

.button-up {
    display: none;
}

.button-outils .button-up:hover {
    transform: scale(1.01);
}

.button-outils .button-chat:hover {
    transform: rotate(180deg);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 9998;
    display: flex;
    flex-direction: column;
}

.overlay.open {
    opacity: 1;
    visibility: visible;
}

.button-close span {
    color: #fff;
    font-size: 50px;
    padding: 0 50px;
}

.button-close span:hover {
    color: var(--blue);
    transform: scale(1.5);
    cursor: pointer;
}

.overlay-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.button-content {
    width: 25em;
    height: 20em;
    margin: 1em;
    border-radius: 20px;
    background-color: #fff;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    overflow: hidden;
}

.button-content .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-content .buttons {
    padding: 5px;
    margin: 0;
}

.buttons span {
    margin: 3px 0;
}

.button-content button {
    margin: 20px 0;
    width: 50%;
}

.button-content h4 {
    font-size: 30px;
    margin: 20px;
}

.customer-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}