.header {
    width: 100%;
    color: #333;
    padding: 0.1em 0;
    overflow: visible;
    /* Important: ne pas masquer le dropdown */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    /* border-bottom: 1px solid #c4c5c5; */
}

.header-content {
    display: flex;
    align-items: center;
    width: 70%;

}

.steacky-menu {
    background-color: rgba(255, 255, 255, 0.9);
    transition: 0.5s;
}


.logo-img {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    right: 1em;
    background-color: transparent;
}

.logo {
    width: 90%;
    height: 90%;
    cursor: pointer;
}

.navigation {
    display: flex;
    flex: 4;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    background-color: transparent;
}

/* Style pour les éléments de navigation */
.navigation ul {
    display: flex;
    gap: 40px;
    justify-content: center;
    background-color: transparent;
}

/* Style spécifique pour les liens */
.navigation a {
    text-decoration: none;
    font-weight: 500;
    color: #333;
    position: relative;
    padding-right: 15px;
    /* background-color: transparent; */
}

.navigation a:hover {
    color: #2D719F;
}

/* Indicateur pour les liens avec sous-menu */
.navigation a::after {
    content: '\25BC';
    /* Flèche vers le bas */
    position: absolute;
    right: -15px;
    font-size: 12px;
    transition: transform 0.3s;
}

/* Si vous voulez que l'indicateur change en cas de survol */
.navigation a:hover::after {
    transform: rotate(180deg);
    /* Tourne la flèche vers le haut */
}

/* Style spécifique pour les liens avec sous-menu */
.navigation a[href="#experience"],
.navigation a[href="#projets"],
.navigation a[href="#apropos"] {
    padding-right: 15px;
    /* Ajoute de l'espace pour l'indicateur */
}


.button {
    width: 15em;
    height: 3.5em;
    border-radius: 15px;
    border: none;
    padding: 10px;
    margin: 5px;
    background: #0984e3;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    transition: 2s ease-in-out;
}

.btn-icon {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.button:hover {
    background: #2D719F;
}

.button span:hover {
    transition: 1s;
    transform: scaleY(1.1);
}

.burger-menu {
    display: none;
    font-size: 25px;
    align-items: center;
}

/* Style pour le contenu du dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    border-radius: 8px;
    top: 100%;
    /* Positionne le dropdown juste en dessous du lien parent */
    left: 0;
    z-index: 999;
    /* S'assure que le dropdown est au-dessus du header */
}

/* Affiche le contenu du dropdown au survol */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style des éléments de navigation */

.dropdown {
    position: relative;
    display: inline-block;
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 9998;
    /* Assure que l'overlay est derrière le sidebar mais au-dessus du contenu principal */
}

.overlay.open {
    opacity: 1;
    visibility: visible;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    background-color: #333;
    color: white;
    transition: right 0.3s ease;
    z-index: 9999;
}

.sidebar.open {
    right: 0;
}

.sidebar-content {
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.sidebar ul li a:hover {
    color: #00A6FF;
}

.close-icon {
    font-size: 40px;
    transition: 3s;
}

.close-icon:hover {
    transform: scale(1.1);
}

/* Style pour le burger menu */
.burger-menu {
    display: none;
    font-size: 30px;
    align-items: center;
    cursor: pointer;
}

/* Effet de translation du contenu principal */
body.sidebar-open .app {
    transform: translateX(-50%);
    transition: transform 0.3s ease;
}

.submenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Style des icônes de sous-menu */
.submenu-icon {
    margin-left: 10px;
    font-size: 16px;
    color: #fff;
    transition: transform 0.3s ease;
}

/* Style des sous-menus */
.submenu-content {
    padding: 10px 15px;
    background-color: #444;
    border-radius: 8px;
    color: white;
    margin-top: 10px;
    transition: max-height 0.3s ease-in-out;
}

/* MEDIA QUERY */

@media (max-width:1200px) {

    .header-content {
        width: 85%;
    }

    .logo-img {
        flex: 1;
    }

    .logo {
        width: 100%;
        height: 100%;
    }

    .navigation {
        flex: 3;
    }

    .navigation ul {
        gap: 40px;
    }

    .button {
        width: 15em;
    }
}

@media (max-width:1000px) {

    .navigation {
        display: none;
    }

    .navigation-btn {
        display: none;
    }

    .logo-img {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .logo {
        width: 35%;
        height: 35%;
    }

    .burger-menu {
        display: flex;
        font-size: 40px;
    }
}

@media (max-width:600px) {
    .header-content {
        width: 95%;
    }

    .logo {
        width: 50%;
        height: 50%;
    }

    .sidebar {
        width: 70%;
    }
}