@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #833471;
    --secondary: #FDA7DF;
    --blue: #0984e3;
    --black: #333;
    --gray: #696969;
    --border: #c4c5c5;
    --orange: #fdcb6e;
    --primary-gradient: linear-gradient(270deg, #fda7df 0%, #833471 100%);
    --orange-gradient: linear-gradient(270deg, #0984e3 0%, #fdcb6e 100%);
    --shadow: 0px 23px 21px -8px rgba(136, 160, 255, 0.25);
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.buttons {
    display: inline-block;
    padding: 15px 30px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: #0984e3;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
    outline: none;
}

.buttons::before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: all 0.4s ease-in-out;
    z-index: 0;
}

.buttons:hover::before {
    right: 0;
}

.buttons:hover {
    border: 2px solid #0984e3;
    color: #0984e3;
    /* Optionally, you can change text color */
}

.buttons span {
    position: relative;
    z-index: 1;
}


.button-hero {
    display: inline-block;
    padding: 15px 30px;
    font-size: 14px;
    font-weight: bold;
    color: #0984e3;
    border: 2px solid #0984e3;
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
    outline: none;
}

.button-hero::before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    background-color: #0984e3;
    transition: all 0.4s ease-in-out;
    z-index: 0;
}

.button-hero:hover::before {
    right: 0;
}

.button-hero:hover {
    color: #fff;
    /* Optionally, you can change text color */
}

.button-hero span {
    position: relative;
    z-index: 1;
}

.buttons-hero {
    display: inline-block;
    padding: 15px 30px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    border: 2px solid #0984e3;
    background-color: #0984e3;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
    outline: none;
}

.buttons-hero::before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: all 0.4s ease-in-out;
    z-index: 0;
}

.buttons-hero:hover::before {
    right: 0;
}

.buttons-hero:hover {
    color: #0984e3;
    /* Optionally, you can change text color */
}

.buttons-hero span {
    position: relative;
    z-index: 1;
    color: #333;
}

.primary-text {
    font-size: 14px;
    font-weight: 500;
    color: #696969;
    margin-top: 20px;
}

.secondary-text {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    margin-top: 20px;
}